<a href="https://colab.research.google.com/github/singhnavjot0109/Project-Analysis-/blob/main/Group_recommendation_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
xl = pd.ExcelFile("/content/sample_data/TableauSalesData.xlsx")
SalesData = xl.parse("Orders")

FileNotFoundError: [Errno 2] No such file or directory: '/content/sample_data/TableauSalesData.xlsx'

In [ ]:
JustTables = SalesData

In [ ]:
Tabsreg = JustTables[["Sub-Category","Customer Name", "Profit", "Sales"]]
SubCatcust = Tabsreg.loc[Tabsreg["Customer Name"]=="Sub-Category"]
SubCatcust= SubCatcust.groupby(by="Sub-Category").sum().sort_values(by="Profit",ascending = True)
display(SubCatcust)

In [ ]:
TableRegion = JustTables[["Region","Profit","Sales"]]
SegTotalProfSales = TableRegion.groupby(by="Region").sum().sort_values(by="Profit",ascending = False)
display(SegTotalProfSales)

              Profit        Sales
Region
West     108418.4489  725457.8245
East      91522.7800  678781.2400
South     46749.4303  391721.9050
Central   39706.3625  501239.8908

In [ ]:
Subcatssale = JustTables[["Sub-Category","Sales","Profit"]]
artsaletable = Subcatssale.loc[Subcatssale["Sub-Category"]=="Art"]
SegSubcatsale= artsaletable.groupby(by="Sub-Category").sum().sort_values(by = "Sales")
display(SegSubcatsale)

                  Sales    Profit
Sub-Category
Art           27118.792  6527.787

In [ ]:
Artprod = JustTables[["Sub-Category","Product Name","Sales","Profit"]]
artitem = Artprod.loc[Artprod["Sub-Category"] == "Art"]
SegArtprods = artitem.groupby(by = "Product Name").sum().sort_values(by = "Profit")
display(SegArtprods)

                                                       Sales    Profit
Product Name
Newell 337                                            10.496    1.1808
Newell 308                                             8.400    2.1000
Design Ebony Sketching Pencil                         13.622    2.3074
4009 Highlighters                                      8.040    2.7336
Newell 342                                             9.840    2.8536
...                                                      ...       ...
Prismacolor Color Pencil Set                         436.480  155.5456
Dixon Ticonderoga Core-Lock Colored Pencils, 48...   431.290  165.2060
Boston 1645 Deluxe Heavier-Duty Electric Pencil...  1073.112  206.2662
Boston Heavy-Duty Trimline Electric Pencil Shar...  1166.440  310.8900
Hunt PowerHouse Electric Pencil Sharpener, Blue     1617.948  448.1640

[157 rows x 2 columns]

In [ ]:
TableRegion = JustTables[["Region","State","Profit","Sales"]]
WestTable = TableRegion.loc[TableRegion["Region"]=="West"]
WestProfSales = WestTable.groupby(by="State").sum().sort_values(by = "Profit",ascending = False)
display(WestProfSales)

                Profit        Sales
State
California  76381.3871  457687.6315
Washington  33402.6517  138641.2700
Nevada       3316.7659   16729.1020
Utah         2546.5335   11220.0560
Montana      1833.3285    5589.3520
New Mexico   1157.1161    4783.5220
Idaho         826.7231    4382.4860
Wyoming       100.1960    1603.1360
Oregon      -1190.4705   17431.1500
Arizona     -3427.9246   35282.0010
Colorado    -6527.8579   32108.1180

In [ ]:
TableRegion = JustTables[["State","City","Profit","Sales"]]
WestTable = TableRegion.loc[TableRegion["State"]=="Washington"]
WestProfSales = WestTable.groupby(by="City").sum().sort_values(by = "Profit",ascending = False)
display(WestProfSales)

                Profit       Sales
City
Seattle     29156.0967  119540.742
Des Moines   1250.3434    3454.438
Edmonds       634.2478    2523.692
Bellingham    610.5908    3790.240
Kent          603.0963    1351.254
Pasco         357.5244    2201.112
Renton        185.4324    1242.632
Spokane       172.2261    2027.918
Olympia       139.6269    1020.448
Covington     115.1094     413.680
Vancouver      75.4546     686.836
Longview       38.8983     119.210
Bellevue       37.0548     103.622
Redmond        20.7322      55.230
Marysville      3.3150     102.180
Auburn          1.5048       4.180
Everett         1.3978       3.856

In [ ]:
state = input("choose a state: ").title()
WestTable = Westsubcats.loc[Westsubcats["State"]==state]
Westsubcats = JustTables[["Sub-Category","State","Profit","Sales"]]
WestTableprof = WestTable.groupby(by = "Sub-Category").sum().sort_values(by = "Profit", ascending = False)
display(state)
display(WestTableprof)

choose a state: north carolina

'North Carolina'

                 Profit      Sales
Sub-Category
Paper          898.8403   2594.264
Phones         860.4342   8995.864
Accessories    821.0744   3506.632
Appliances     485.6746   4137.552
Furnishings    153.0447   1791.104
Chairs         142.7239   2723.592
Envelopes      139.7061    431.144
Copiers        119.9960    959.968
Art             78.9165    603.392
Labels          75.8684    229.424
Fasteners       21.8637     66.336
Supplies       -27.9803    302.040
Storage        -86.2088   3438.088
Bookcases      -97.9780    959.056
Binders      -2007.8254   2562.321
Tables       -3684.2539   9681.732
Machines     -5384.8086  12620.655

In [ ]:
WestTable1 = SalesData.loc[SalesData["State"]=="Washington"]
TableRegion1 = WestTable1[["Sub-Category","Profit","Sales"]]
TableRegion1=TableRegion1.groupby(by="Sub-Category").sum().sort_values(by = "Profit", ascending = False)
display("Washington")
display(TableRegion1)

'Washington'

                 Profit      Sales
Sub-Category
Copiers       9442.4242  20249.830
Binders       6061.8114  18156.128
Tables        4875.9900  25062.320
Accessories   4263.2736  15119.160
Storage       1731.6766  13163.200
Paper         1570.4083   3318.740
Furnishings   1054.8443   3426.500
Phones         698.5820   9101.568
Chairs         692.9453  16386.872
Machines       615.0637   6066.152
Appliances     591.8608   1969.350
Bookcases      570.0054   3144.460
Labels         560.5303   1153.890
Art            320.1679   1063.840
Envelopes      245.7604    512.720
Fasteners       62.0332    263.200
Supplies        45.2743    483.340

In [ ]:
TableRegion = JustTables[["Region","State","Profit","Sales"]]
WestTable = TableRegion.loc[TableRegion["Region"]=="Central"]
WestProfSales = WestTable.groupby(by="State").sum().sort_values(by = "Profit",ascending = False)
display(WestProfSales)

                  Profit        Sales
State
Michigan      24463.1876   76269.6140
Indiana       18382.9363   53555.3600
Minnesota     10823.1874   29863.1500
Wisconsin      8401.8004   32114.6100
Missouri       6436.2105   22205.1500
Oklahoma       4853.9560   19683.3900
Nebraska       2037.0942    7464.9300
Iowa           1183.8119    4579.7600
Kansas          836.4435    2914.3100
South Dakota    394.8283    1315.5600
North Dakota    230.1497     919.9100
Illinois     -12607.8870   80166.1010
Texas        -25729.3563  170188.0458

In [ ]:
Westsubcats = JustTables[["Sub-Category","State","Profit","Sales"]]
WestTable = Westsubcats.loc[Westsubcats["State"]=="Illinois"]
WestTableprof = WestTable.groupby(by = "Sub-Category").sum().sort_values(by = "Profit", ascending = True)
display(WestTableprof)

                 Profit      Sales
Sub-Category
Binders      -7204.3242   4538.546
Tables       -4309.7447   6550.670
Furnishings  -2631.9766   2877.976
Appliances   -2482.4187    974.720
Chairs       -1578.6955  14563.178
Bookcases     -555.8726   4282.698
Storage       -257.4584   9080.328
Supplies        13.4273    178.152
Fasteners       43.9949    141.336
Labels          77.4622    224.872
Envelopes      132.5294    384.104
Art            138.9541    930.032
Machines       326.0395   3756.305
Accessories    981.8644   5535.696
Paper         1183.6766   3455.816
Phones        1682.6887  16771.784
Copiers       1831.9666   5919.888